body {
 background: url(https://images.unsplash.com/photo-1506143925201-0252c51780b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center fixed;
}

h1, h2, h3, h5 {
    font-family: 'Big Shoulders Stencil Display' , cursive;
    
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

a, a:hover {
    color: inherit;
    text-decoration: none;
  }

.site-footer {
    margin: 0px;
    padding: 20px 0px;
    width: 100%;
    background-image: linear-gradient(to left bottom, bisque, gray 50%, bisque);
    text-align: center;
    margin-top: 400px;
    background-color:bisque;
}

.jumbotron {
    background-image: linear-gradient( to right bottom, white, #56b097 20%, #808080, white);
}

#homeInfo {
    border-radius: 50px;
    color: rgba(0,0,0,1) ;
    background: url(https://images.unsplash.com/photo-1521729839347-131a32f9abcb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80) no-repeat center center fixed;
}

#waiverReminder {
    background-color:rgba(	86, 176, 151, 0.7) ;
    border-radius: 50px;
    color: rgba(0,0,0,1) ;
}

.carousel-caption {
    background-color: rgba(209, 179, 115, 0.849); }
  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
 }

.modal-header {
    background-color: rgb(226, 190, 145);

}

#modalButton {
    margin-bottom: 20px;
    margin-top: 10px;

}

#mainHeader {
    font-size: 65px;
}

#motto {
    font-size: 35px;
    padding-left: 5px;
    padding-top: 50px;
}

#jumbotronLogo {
    border-radius: 50%;
    padding-right: 5px;
    position: absolute;
}

#navbarLogo {
    border-radius: 100px;
}

#navbarLogo:hover {
    opacity: 0.5;
}

#social {
    padding-left: 150px;
}

/*these styles will need to be changed later...maybe ... check back after addind sass*/
#yogaHeader {
    font-family: 'Big Shoulders Stencil Display' , cursive;
    font-size: 40px;
}

#coreHeader {
    font-family: 'Big Shoulders Stencil Display' , cursive;
    font-size: 40px;
}

#climbingHeader {
    font-family: 'Big Shoulders Stencil Display' , cursive;
    font-size: 40px;
}

/*this styling is inly for the cards on the index and the membership pages*/
.card-wrapper {
    margin-bottom: 30px;
  }
  .card-image .card .card-img-wrapper {
    height: 100%;
  }
  .card-image .card .card-body {
    display: none;
  }
  .card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
  }
  .card-image-title-description .card {
    position: relative;
    min-height: 300px;
  }
  .card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -70px;
  }
  .card-image-title-description .card:hover .card-body {
    top: -70px;
  }
  .card-image-title-description .card .card-body .card-title {
    margin-bottom: .75rem;
  }
  .card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 100%;
  }
  .card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
  }
  .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
  }
  .card-img-wrapper img {
    transition: 1.5s ease;
  }
  .card:hover .card-img-wrapper img {
    transform: scale(1.15);
  }
  .card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
  }
  .card:hover .card-body .card-title {
    margin-bottom: .75rem;
  }
  
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #fff;
    transition: 1.5s ease;
  }
  .card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 1.5s ease;
  }
  .card:hover .card-body {
    height: 90%;
    background: url(https://images.unsplash.com/photo-1521729839347-131a32f9abcb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80) no-repeat center center fixed;
    color: white;
  }
  .card:hover .card-content {
    bottom: 0;
  }